body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  box-sizing: border-box;
}

.sidePanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 40px;
  background-color: #f1f3f4;
}

.header {
  flex-basis: 100px;
  margin: 0;
  font-family: "Pacifico", cursive;
  font-size: 48px;
  text-align: center;
  color: #282d2f;
}

.sketchContainer {
  flex: 3;
  padding: 4%;
}

.sketch {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0 4px 8px 0;
}

.row {
  flex: 1;
  display: flex;
}

.col {
  flex: 1;
}

.input {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
  margin-bottom: 24px;
  width: 100%;
}

.input > :first-child {
  width: 100px;
  font-size: 20px;
}

.input > :nth-child(2) {
  flex: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 16px;
  cursor: pointer;
  height: 8px;
  background: #ccc;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: #107895;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 6px #10789549;
}

input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 8px #10789549;
}

input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background-color: #107895;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 6px #10789549;
}

input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 8px #10789549;
}

input[type="color"] {
  padding: 0;
  border: 0;
  border-radius: 2px;
}

input[type="radio"] {
  width: 24px;
  margin: 0 8px 0 0;
}

div.radioGroup {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
}

.radioGroup > div {
  display: flex;
}

button {
  padding: 16px;
  font-size: 18px;
  min-width: calc(70% - 28px);
  cursor: pointer;
  background-color: #107895;
  color: rgba(255, 255, 255, 0.9);
  border: none;
  outline: none;
  border-radius: 2px;
  letter-spacing: 1px;
  margin-bottom: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  width: 100%;
}

.disabled {
  cursor: not-allowed !important;
}

.colCount,
.rowCount {
  min-width: 24px;
  text-align: right;
}
