body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: #f0e0db;
  padding: 4%;
  box-sizing: border-box;
  gap: 4%;
}

.sidePanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 4%;
  padding: 16px;
  border: 1px solid red;
}

.header {
  flex-basis: 100px;
  margin: 0;
  font-family: "Pacifico", cursive;
  font-size: 48px;
  text-align: center;
  color: #333;
}

.sketchContainer {
  flex: 3;
  padding: 16px 16px 16px 0;
}

.sketch {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0 4px 8px 0;
  background: url("https://images.indianexpress.com/2022/03/Skincare-Pexels-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: url("./cursor.png"), auto;
}

.row {
  flex: 1;
  display: flex;
}

.col {
  flex: 1;
}

.input {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 12px;
  margin-bottom: 8px;
}

.input label {
  min-width: 15%;
  font-size: 20px;
}

.input input {
  min-width: calc(85% - 28px);
  cursor: pointer;
}

.modeSelector {
  font-size: 18px;
  min-width: calc(85% - 28px);
  cursor: pointer;
  padding: 8px;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  padding: 12px;
  font-size: 20px;
  min-width: calc(85% - 28px);
}
