body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: #f0e0db;
  padding: 4%;
  box-sizing: border-box;
  gap: 2%;
}

.sidePanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 4%;
  padding: 16px 0 16px 16px;
}

.sidePanel > * {
}

.header {
  border: 1px solid royalblue;
  flex-basis: 100px;
  margin: 0;
}

.inputWrapper {
  border: 1px solid green;
  flex: 1;
}

.modeSelector {
  border: 1px solid brown;
  flex: 1;
}

.sketchContainer {
  flex: 3;
  padding: 16px 16px 16px 0;
}

.sketch {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREoRGyXmHy_6aIgXYqWHdOT3KjfmnuSyxypw&s");
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  flex: 1;
  display: flex;
}

.col {
  border-right: 0.1px solid #ddd;
  border-bottom: 0.1px solid #ddd;
  flex: 1;
}
